@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/* logo */
 
#logo img {
    max-width: 10%;
    max-height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navigation links */

nav {
    text-align: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #252525;
    display: inline-block;
}

#menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 20px;
}

#menu a {
    display: block;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu a:hover {
background-color: #3a3a3a;
color: whitesmoke;
}

.active {
    border: 2px solid #3a3a3a;
  }


/* hero image */

#hero-outer {
    height: 200px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


#hero-image {
    height: 200px;
    width: 100%;
    background: url('../image/lastryko.jpg') center center;
}

/* hero image text */

#hero-text {
    font-size: 200%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 600px;
    height: 150px;

    padding-top: 15px;
    padding-left: 15px;

    background-color: whitesmoke;

    position: absolute;
    top: 20px;
    right: 460px;
}

#hero-text h2 {
    font-weight: 5000;
}

#hero-text h3 {
    margin-top: 20px;
    font-weight: lighter;
}

/* about us */

#about-us {
    height: 25%;
    width: 70%;
    margin: 1% 2% 5% 2%;
    background: whitesmoke;
    margin-left: 15%;
    padding: 20px;

    position: relative;
}

#about-us img {
    height: 30%;
    width: 30%;
    float: left;
    margin: 2% 2% 2% 2%;
}

#about-us hr {
    border-bottom: 2px solid #3a3a3a;
    width: 13%;
    margin: 1px;
}

#about-us p {
    font-weight: 500;
    margin: 15px 15px 10px 15px;
}

#about-us h2 {
    margin-top: 1%;
}

/* footer */

footer {
    height: 100px;
}


/* social networks */

.social-networks {
    text-align: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 120%;
    color: #3a3a3a;
    padding: 0.5%;
    margin: 0.5%;
}

